@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Play";
  margin: 0;
  padding: 0;
  color: #534a42;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #a24857;
}

.Toastify__toast--error .Toastify__progress-bar {
  background-color: #a24857 !important;
}